<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cinema Scheduler</title>

        <link rel="stylesheet" href="/styles/styles.css">
    </head>


    <body>
        <div class="center">
            <h1>Movie Programming - Assignment 1 demo</h1>

            <nav>
                <a href="/" data-link>Home</a>
                <a href="/database" data-link>Database</a>
            </nav>

            <main id="app"></main>

            <script type="module" src="/javascript/app.js"></script>
        </div>
    </body>
</html>